NEON_DB_URL=
GROQ_API_KEY=
NEON_DB_URL=
GROQ_API_KEY=

REDDIT_CLIENT_ID=
REDDIT_CLIENT_SECRET=
REDDIT_USER_AGENT=
# ================================
# SEARCH CONFIG
# ================================
KEYWORDS=Apple OR iPhone OR iOS OR MacBook OR Samsung OR Galaxy OR OneUI OR Google OR Pixel OR Android
SUBREDDITS=technology,apple,samsung,android,google,gadgets,technews
